
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://static.nike.com/a/images/f_auto,cs_srgb/w_1920,c_limit/c401c50c-b1a7-4e0b-96f9-b7d7ce4ce18d/image.jpg" class="d-block w-100" alt="Imagen 1">
            <div class="carousel-text">
                <div class="image-text1">Novedad</div>
                <div class="image-text2">VOMERO 18</div>
                <div class="image-text3">Máxima amortiguación a lo grande</div>
                <div class="image-text4">Comprar</div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/w_1920,c_limit/d8c799f7-cfb5-4a42-ba0e-1450145db5fe/nike-just-do-it.jpg" class="d-block w-100" alt="Imagen 2">
            <div class="carousel-text">
                <div class="image-text2">MÁXIMA COMODIDAD</div>
                <div class="image-text3">Las espumas ZoomX y ReactX apiladas proporcionan una pisada ultracómoda</div>
                <div class="image-text4">Comprar</div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/w_1920,c_limit/7624145f-3017-45c4-9eef-f3ed2cf6a373/nike-just-do-it.jpg" class="d-block w-100" alt="Imagen 3">
            <div class="carousel-text">
                <div class="image-text2">MÁXIMA ALTURA</div>
                <div class="image-text3">Con un talón de 46 mm, las Vomero 18 te elevan a nuevas alturas al correr.</div>
                <div class="image-text4">Comprar</div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
</div>