<app-carousel></app-carousel>

<div class="body-container">
    <div class="body-item">
        <div class="slider-container">
            <div class="slider-wrapper">
                <h1>Lo mejor y más nuevo</h1>
                <div class="image-list">
                    <img src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_710,c_limit/4d5bf59e-9bd5-4ff7-b331-3bb2ce006ca4/nike-just-do-it.png"
                        alt="img-1" 
                        class="image-item">
                    <img src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_710,c_limit/3f95cf73-9d5a-4da2-b1f3-3452f47e126c/nike-just-do-it.png"
                        alt="img-2" 
                        class="image-item">
                    <img src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_710,c_limit/616e2724-542b-47c5-8ea4-eee41e460f1d/nike-just-do-it.jpg"
                        alt="img-3" 
                        class="image-item">
                    <img src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_710,c_limit/4e80fa4e-fd1d-4a70-bb98-557b3de7e9d4/nike-just-do-it.png"
                        alt="img-4" 
                        class="image-item">
                    <img src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_710,c_limit/e77f33f5-2b65-4e0f-b6cd-687618ce535e/nike-just-do-it.png"
                        alt="img-5" 
                        class="image-item">
                    <img src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_710,c_limit/20404f36-263d-4054-92e0-a9f159c54e1c/nike-just-do-it.jpg"
                        alt="img-6 " 
                        class="image-item">
                    <p class="imagesubtitle">Nike United Pack</p>
                    <p class="imagesubtitle">Colección Nike 24.7</p>
                    <p class="imagesubtitle">Nike Style By: Field General</p>
                    <p class="imagesubtitle">Cosmic Runner</p>
                    <p class="imagesubtitle">Próximamente: Air Max Dn8</p>
                    <p class="imagesubtitle">Ropa de Running</p>
                </div>
            </div>
        </div>
    </div>
    <div class="body-item">
        <div class="slider-container">
            <div class="slider-wrapper">
                <h1>Compra nuestros iconos</h1>
                <div class="image-list">
                    <div class="image-item">
                        <img src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_568,c_limit/2d585e07-70ff-4f40-acaa-0a690a6de929/nike-just-do-it.png"
                            alt="img-1">
                        <div class="image-text">Air Max</div>
                    </div>
                    <div class="image-item">
                        <img src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_568,c_limit/49a8a2c1-3338-4c31-8fb3-2d00f7f14d47/nike-just-do-it.png"
                            alt="img-2">
                        <div class="image-text">Y2K</div>
                    </div>
                    <div class="image-item">
                        <img src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/w_568,c_limit/f6efe48e-af96-4789-a3bb-ef1d843289b6/nike-just-do-it.png"
                            alt="img-3">
                        <div class="image-text">Air Force 1</div>
                    </div>
                    <div class="image-item">
                        <img src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/w_568,c_limit/282dcbaa-8db5-42c3-baaa-4ca566f6c222/nike-just-do-it.png"
                            alt="img-4">
                        <div class="image-text">Dunk</div>
                    </div>
                    <div class="image-item">
                        <img src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_568,c_limit/9dc5a29e-c4fe-42e0-aacd-2b5fdbcae687/nike-just-do-it.png"
                            alt="img-5">
                        <div class="image-text">Air Jordan</div>
                    </div>
                    <div class="image-item">
                        <img src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/w_568,c_limit/337d8c4b-8aa8-4f74-8e41-a2453430e00c/nike-just-do-it.png"
                            alt="img-6">
                        <div class="image-text">Pegasus</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="body-item">
        <div class="slider-container">
            <div class="slider-wrapper">
                <h1>Novedades de la semana</h1>
                <div class="image-list">
                    <img src="https://static.nike.com/a/images/q_auto:eco/t_product_v1/f_auto/dpr_1.0/h_599,c_limit/f2ba342a-0bbe-4ec9-b2bb-27cd10433631/t90-sp-zapatillas-f4WCNs.png"
                        alt="img-1" 
                        class="image-item">
                    <img src="https://static.nike.com/a/images/q_auto:eco/t_product_v1/f_auto/dpr_1.0/h_599,c_limit/35e9bc2c-ddfe-4bbb-9940-cb448f7a12f3/pegasus-zapatillas-de-running-asfalto-Z5HZdV.png"
                        alt="img-2" 
                        class="image-item">
                    <img src="https://static.nike.com/a/images/q_auto:eco/t_product_v1/f_auto/dpr_1.0/h_599,c_limit/cdde770b-830e-4752-9932-47c9471e572c/air-jordan-5-retro-reimagined-zapatillas-gJT6x5.png"
                        alt="img-3" 
                        class="image-item">
                    <img src="https://static.nike.com/a/images/q_auto:eco/t_product_v1/f_auto/dpr_1.0/h_599,c_limit/4bdbc770-f129-4372-af0a-daf7afecdd92/air-jordan-4-net-zapatillas-V6IAuKyW.png"
                        alt="img-4" 
                        class="image-item">
                    <img src="https://static.nike.com/a/images/q_auto:eco/t_product_v1/f_auto/dpr_1.0/h_599,c_limit/b6506982-e8c8-4761-a901-da588c1c99df/air-jordan-1-mid-se-zapatillas-nino-a-h05S70.png"
                        alt="img-5" 
                        class="image-item">
                    <img src="https://static.nike.com/a/images/q_auto:eco/t_product_v1/f_auto/dpr_1.0/h_599,c_limit/50568a09-f867-430c-bfef-ea0f3404c430/air-max-dn8-zapatillas-J4s7pz.png"
                        alt="img-6 " 
                        class="image-item">
                </div>
            </div>
        </div>
    </div>
    <div class="body-item">
        <div class="slider-container">
            <div class="slider-wrapper">
                <h1>Descubre más</h1>
                <div class="image-list">
                    <div class="image-item">
                        <img src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_697,c_limit/09e97e24-9754-45db-bbe1-e487b490df7c/nike-just-do-it.jpg" alt="img-1" class="image-item">
                        <div class="image-text">Mujer</div>
                    </div>
                    <div class="image-item">
                        <img src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_697,c_limit/06bc72c9-7813-4834-b0ed-a13ce0903602/nike-just-do-it.jpg" alt="img-2" class="image-item">
                        <div class="image-text">Hombre</div>
                    </div>
                    <div class="image-item">
                        <img src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_697,c_limit/7e2aaf97-87aa-4fa2-b34a-2571263b911a/nike-just-do-it.jpg" alt="img-3" class="image-item">
                        <div class="image-text">Niño/a</div>
                    </div>
                    <div class="image-item">
                        <img src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_697,c_limit/74186b90-c39e-4a68-a611-bddad6a20fad/nike-just-do-it.jpg" alt="img-4" class="image-item">
                        <div class="image-text">Adolescente</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="body-item">
        <div class="slider-container">
            <div class="slider-wrapper">
                <h1>Nike Membership</h1>
                <div class="image-list">
                    <div class="image-item">
                        <img src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_568,c_limit/82581424-385a-4f79-816d-0f91e6a531a3/nike-just-do-it.png" alt="img-1" class="image-item">
                        <div class="image-text2">Productos para Members</div>
                        <div class="image-text3">Tu acceso exclusivo</div>
                        <div class="image-text">Comprar</div>
                    </div>
                    <div class="image-item">
                        <img src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_568,c_limit/d9ef237f-b6cf-40ca-8432-928a0bb3abae/nike-just-do-it.jpg" alt="img-2" class="image-item">
                        <div class="image-text2">Recompensas para Members</div>
                        <div class="image-text3">Cómo te damos las gracias</div>
                        <div class="image-text">Celébralo</div>
                    </div>
                    <div class="image-item">
                        <img src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_568,c_limit/e3d043ee-e826-448f-9213-3ab2cdef1f10/nike-just-do-it.jpg" alt="img-3" class="image-item">
                        <div class="image-text2">Deporte y bienestar</div>
                        <div class="image-text3">Muévete como quieras</div>
                        <div class="image-text">Muévete</div>
                    </div>
                    <div class="image-item">
                        <img src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_568,c_limit/5e36df8e-007f-4b18-bea3-47af5a7ea0d2/nike-just-do-it.png" alt="img-4" class="image-item">
                        <div class="image-text2">Nike By You</div>
                        <div class="image-text3">Tu servicio de personalización</div>
                        <div class="image-text">Personalizar</div>
                    </div>
                    <div class="image-item">
                        <img src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_568,c_limit/0aa6f746-7739-45aa-85c7-5d81efc914fe/nike-just-do-it.jpg" alt="img-5" class="image-item">
                        <div class="image-text2">Aplicaciones Nike</div>
                        <div class="image-text3">Sé tu mejor versión</div>
                        <div class="image-text">Nike App</div>
                    </div>
                    <div class="image-item">
                        <img src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_568,c_limit/1163f9d5-7b28-46e5-b73b-4d3d2ff4dbc3/nike-just-do-it.png" alt="img-6" class="image-item">
                        <div class="image-text3">Aprovecha mas tu Membership</div>
                        <div class="image-text">Descubrir</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>



<div class="body-table">
    <table>
        <thead>
            <tr>
                <th>Zapatillas</th>
                <th>Ropa</th>
                <th>Niño/a</th>
                <th>Destacados</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Zapatillas de running en negro</td>
                <td>Pantalones de yoga</td>
                <td>Zapatillas negras para niña</td>
                <td>Equipos de fútbol</td>
            </tr>
            <tr>
                <td>Zapatillas de running en blanco</td>
                <td>Joggers Tech Fleece</td>
                <td>Zapatillas negras para niño</td>
                <td>Fútbol</td>
            </tr>
            <tr>
                <td>Zapatillas Nike P-6000</td>
                <td>Tech Fleece</td>
                <td>Nike Inglaterra</td>
                <td>Nike Run Club</td>
            </tr>
            <tr>
                <td>Nike Initiator</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>