<app-carousel></app-carousel>

<div class="body-container">
    <div class="body-item">
        <div class="slider-container">
            <div class="slider-wrapper">
                <h1>Lo mejor y más nuevo</h1>
                <div class="image-list">
                    <img src="https://gpswpqnfjmpbibaeazpz.supabase.co/storage/v1/object/public/imagenes//nike-just-do-it%20(10).jpeg"
                        alt="img-1" 
                        class="image-item">
                    <img src="https://gpswpqnfjmpbibaeazpz.supabase.co/storage/v1/object/public/imagenes//nike-just-do-it%20(7).jpeg"
                        alt="img-2" 
                        class="image-item">
                    <img src="https://gpswpqnfjmpbibaeazpz.supabase.co/storage/v1/object/public/imagenes//nike-just-do-it%20(11).jpeg"
                        alt="img-3" 
                        class="image-item">
                    <img src="https://gpswpqnfjmpbibaeazpz.supabase.co/storage/v1/object/public/imagenes//nike-just-do-it%20(9).jpeg"
                        alt="img-4" 
                        class="image-item">
                    <img src="https://gpswpqnfjmpbibaeazpz.supabase.co/storage/v1/object/public/imagenes//nike-just-do-it%20(6).jpeg"
                        alt="img-5" 
                        class="image-item">
                    <img src="https://gpswpqnfjmpbibaeazpz.supabase.co/storage/v1/object/public/imagenes//nike-just-do-it%20(8).jpeg"
                        alt="img-6 " 
                        class="image-item">
                    <p class="imagesubtitle">Nike United Pack</p>
                    <p class="imagesubtitle">Colección Nike 24.7</p>
                    <p class="imagesubtitle">Nike Style By: Field General</p>
                    <p class="imagesubtitle">Cosmic Runner</p>
                    <p class="imagesubtitle">Próximamente: Air Max Dn8</p>
                    <p class="imagesubtitle">Ropa de Running</p>
                </div>
            </div>
        </div>
    </div>
    <div class="body-item">
        <div class="slider-container">
            <div class="slider-wrapper">
                <h1>Compra nuestros iconos</h1>
                <div class="image-list">
                    <div class="image-item">
                        <img src="https://gpswpqnfjmpbibaeazpz.supabase.co/storage/v1/object/public/imagenes//nike-just-do-it%20(3).jpeg"
                            alt="img-1">
                        <div class="image-text">Air Max</div>
                    </div>
                    <div class="image-item">
                        <img src="https://gpswpqnfjmpbibaeazpz.supabase.co/storage/v1/object/public/imagenes//nike-just-do-it%20(5).jpeg"
                            alt="img-2">
                        <div class="image-text">Y2K</div>
                    </div>
                    <div class="image-item">
                        <img src="https://gpswpqnfjmpbibaeazpz.supabase.co/storage/v1/object/public/imagenes//nike-just-do-it%20(19).jpeg"
                            alt="img-3">
                        <div class="image-text">Air Force 1</div>
                    </div>
                    <div class="image-item">
                        <img src="https://gpswpqnfjmpbibaeazpz.supabase.co/storage/v1/object/public/imagenes//nike-just-do-it%20(20).jpeg"
                            alt="img-4">
                        <div class="image-text">Dunk</div>
                    </div>
                    <div class="image-item">
                        <img src="https://gpswpqnfjmpbibaeazpz.supabase.co/storage/v1/object/public/imagenes//nike-just-do-it%20(4).jpeg"
                            alt="img-5">
                        <div class="image-text">Air Jordan</div>
                    </div>
                    <div class="image-item">
                        <img src="https://gpswpqnfjmpbibaeazpz.supabase.co/storage/v1/object/public/imagenes//nike-just-do-it%20(21).jpeg"
                            alt="img-6">
                        <div class="image-text">Pegasus</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="body-item">
        <div class="slider-container">
            <div class="slider-wrapper">
                <h1>Novedades de la semana</h1>
                <div class="image-list">
                    <img src="https://gpswpqnfjmpbibaeazpz.supabase.co/storage/v1/object/public/imagenes//t90-sp-zapatillas-f4WCNs.jpeg"
                        alt="img-1" 
                        class="image-item">
                    <img src="https://gpswpqnfjmpbibaeazpz.supabase.co/storage/v1/object/public/imagenes//pegasus-zapatillas-de-running-asfalto-Z5HZdV.jpeg"
                        alt="img-2" 
                        class="image-item">
                    <img src="https://gpswpqnfjmpbibaeazpz.supabase.co/storage/v1/object/public/imagenes//air-jordan-5-retro-reimagined-zapatillas-gJT6x5.jpeg"
                        alt="img-3" 
                        class="image-item">
                    <img src="https://gpswpqnfjmpbibaeazpz.supabase.co/storage/v1/object/public/imagenes//air-jordan-4-net-zapatillas-V6IAuKyW.jpeg"
                        alt="img-4" 
                        class="image-item">
                    <img src="https://gpswpqnfjmpbibaeazpz.supabase.co/storage/v1/object/public/imagenes//air-jordan-1-mid-se-zapatillas-nino-a-h05S70.jpeg"
                        alt="img-5" 
                        class="image-item">
                    <img src="https://gpswpqnfjmpbibaeazpz.supabase.co/storage/v1/object/public/imagenes//air-max-dn8-zapatillas-J4s7pz.jpeg"
                        alt="img-6 " 
                        class="image-item">
                </div>
            </div>
        </div>
    </div>
    <div class="body-item">
        <div class="slider-container">
            <div class="slider-wrapper">
                <h1>Descubre más</h1>
                <div class="image-list">
                    <div class="image-item">
                        <img src="https://gpswpqnfjmpbibaeazpz.supabase.co/storage/v1/object/public/imagenes//nike-just-do-it%20(15).jpeg" alt="img-1" class="image-item">
                        <div class="image-text">Mujer</div>
                    </div>
                    <div class="image-item">
                        <img src="https://gpswpqnfjmpbibaeazpz.supabase.co/storage/v1/object/public/imagenes//nike-just-do-it%20(12).jpeg" alt="img-2" class="image-item">
                        <div class="image-text">Hombre</div>
                    </div>
                    <div class="image-item">
                        <img src="https://gpswpqnfjmpbibaeazpz.supabase.co/storage/v1/object/public/imagenes//nike-just-do-it%20(14).jpeg" alt="img-3" class="image-item">
                        <div class="image-text">Niño/a</div>
                    </div>
                    <div class="image-item">
                        <img src="https://gpswpqnfjmpbibaeazpz.supabase.co/storage/v1/object/public/imagenes//nike-just-do-it%20(13).jpeg" alt="img-4" class="image-item">
                        <div class="image-text">Adolescente</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="body-item">
        <div class="slider-container">
            <div class="slider-wrapper">
                <h1>Nike Membership</h1>
                <div class="image-list">
                    <div class="image-item">
                        <img src="https://gpswpqnfjmpbibaeazpz.supabase.co/storage/v1/object/public/imagenes//nike-just-do-it%20(1).png" alt="img-1" class="image-item">
                        <div class="image-text2">Productos para Members</div>
                        <div class="image-text3">Tu acceso exclusivo</div>
                        <div class="image-text">Comprar</div>
                    </div>
                    <div class="image-item">
                        <img src="https://gpswpqnfjmpbibaeazpz.supabase.co/storage/v1/object/public/imagenes//nike-just-do-it%20(16).jpeg" alt="img-2" class="image-item">
                        <div class="image-text2">Recompensas para Members</div>
                        <div class="image-text3">Cómo te damos las gracias</div>
                        <div class="image-text">Celébralo</div>
                    </div>
                    <div class="image-item">
                        <img src="https://gpswpqnfjmpbibaeazpz.supabase.co/storage/v1/object/public/imagenes//nike-just-do-it%20(18).jpeg" alt="img-3" class="image-item">
                        <div class="image-text2">Deporte y bienestar</div>
                        <div class="image-text3">Muévete como quieras</div>
                        <div class="image-text">Muévete</div>
                    </div>
                    <div class="image-item">
                        <img src="https://gpswpqnfjmpbibaeazpz.supabase.co/storage/v1/object/public/imagenes//nike-just-do-it.png" alt="img-4" class="image-item">
                        <div class="image-text2">Nike By You</div>
                        <div class="image-text3">Tu servicio de personalización</div>
                        <div class="image-text">Personalizar</div>
                    </div>
                    <div class="image-item">
                        <img src="https://gpswpqnfjmpbibaeazpz.supabase.co/storage/v1/object/public/imagenes//nike-just-do-it%20(17).jpeg" alt="img-5" class="image-item">
                        <div class="image-text2">Aplicaciones Nike</div>
                        <div class="image-text3">Sé tu mejor versión</div>
                        <div class="image-text">Nike App</div>
                    </div>
                    <div class="image-item">
                        <img src="https://gpswpqnfjmpbibaeazpz.supabase.co/storage/v1/object/public/imagenes//nike-just-do-it%20(2).png" alt="img-6" class="image-item">
                        <div class="image-text3">Aprovecha mas tu Membership</div>
                        <div class="image-text">Descubrir</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>



<div class="body-table">
    <table>
        <thead>
            <tr>
                <th>Zapatillas</th>
                <th>Ropa</th>
                <th>Niño/a</th>
                <th>Destacados</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Zapatillas de running en negro</td>
                <td>Pantalones de yoga</td>
                <td>Zapatillas negras para niña</td>
                <td>Equipos de fútbol</td>
            </tr>
            <tr>
                <td>Zapatillas de running en blanco</td>
                <td>Joggers Tech Fleece</td>
                <td>Zapatillas negras para niño</td>
                <td>Fútbol</td>
            </tr>
            <tr>
                <td>Zapatillas Nike P-6000</td>
                <td>Tech Fleece</td>
                <td>Nike Inglaterra</td>
                <td>Nike Run Club</td>
            </tr>
            <tr>
                <td>Nike Initiator</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>