@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');


.container{
height: 90vh;
padding-top: 100px;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(29, 29, 29, 0.301);
}

form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    align-items: start;
}

label {
    font-weight: bold;
    padding-top: 8px;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

input,
select,
textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

textarea {
    min-height: 100px;
}

.valid {
    color: green;
    font-size: 1.2em;
    margin-left: 10px;
}

.error-container {
    grid-column: 2;
    display: flex;
    flex-direction: column;
}

.error {
    color: red;
    font-size: 0.8em;
    margin-top: 4px;
}

.empty-error {
    grid-column: 2;
    height: 4px;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-container input {
    width: auto;
    margin-right: 10px;
}

.button-container {
    grid-column: 1 / span 2;
    margin-top: 20px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

h2 {
    grid-column: 1 / span 2;
    text-align: center;
    margin: 10px;
    padding-bottom: 20px;
    font-family: "Bebas Neue", serif;
}

#offer {
    margin-top: 10px;
    width: 20px;
    height: 20px;
}
